table{
    color: #fff;
    background-color: #4e494d;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvertica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px solid #4e494d;
}

#InputBox{
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

.Operatoe-Btn{
 background-color: #109984;
  border-radius: 50px;
 
}
.Operatoe-Btn:hover{
    background-color: #067f77; 
}

.C-Btn{
    background-color: #656165;
    border-radius: 50px;
}

.C-Btn:hover{
    background-color: #293a3a;
   
}

.Number-Btn{
    background-color: #807e80;
    border-radius: 50px;
}

.Number-Btn:hover{
   background-color: #293a3a;
}